dl.portletWorkflowSteps dd.odd {
    margin-left: 1em;
    padding-top: 0;
}

dl.portletWorkflowSteps dd.even {
    padding: 0;
}

dl.portletWorkflowSteps dd.portletFooter a {
    visibility: hidden;
}

table.research_table {
    width: 100%;
}

table.research_table th
{
    text-align: left;
    color: #666;
    border: 0.1em solid #e7e7e7;
    border-style: solid solid none;
    background: #ddd;
}

table.research_table,
table.research_table th,
table.research_table td {
    border: 1px solid;
    padding: 2px;
}

th.cell_ref {
    width: 10%
}

th.cell_authors {
    width: 40%
}

th.cell_title {
    width: 50%
}

table.research_table tr.odd td
{
    background: #eee;
}

#content .research-list
{
    margin: 0;
}

#content .research-list td
{
    border: none;
    padding: 0;
    vertical-align: top;
}

.template-research_view #plone-contentmenu-workflow #advanced
{
    visibility: hidden;
}
