dl.portletWorkflowSteps dd.odd {
    margin-left: 1em;
    padding-top: 0;
}

dl.portletWorkflowSteps dd.even {
    padding: 0;
}

dl.portletWorkflowSteps dd.portletFooter a {
    visibility: hidden;
}

table.research_table {
    border: 1px solid;
    width: 100%;
}
